.tiles{margin-top: 1%;}
body{     
    background-color: rgb(238, 238, 238);
}
.button {
    color: white !important;
}
.navbar-item {
    color: white !important;
    font-weight: 600 !important;
}
.navbar-link:hover, a.navbar-item:hover { 
    /* color: black !important; */
    background-color: #92baff !important;
}

.navbar-link.is-active, a.navbar-item.is-active { 
    /* color: black !important; */
    background-color: #0c409b !important;
}

@media screen and (max-width: 1087px){
    .navbar-menu {
        background-color: #448afc !important;
    }
}

    /* background-color: #fff; */

/* .banner{  margin-top: 100px;
          padding-top: 100px;} */
/* .media{margin-left: 6%;} */
/* .message-features{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
} */
/* nav{margin-bottom: 30px;}
.active{background-color: #ffffff;}
.is-active{background-color: #ffffff;}
.indented{margin-left:2em;}
.learn{color: #0048d8;}
nav:hover {background-color: #448afc;}
.card{margin-top: 50px;}
.marginTop{margin-top: 1%;}
.cardText{margin-left: 5%;}
.Footer{   position: static;
   bottom: 0;
   width: 100%;
   background-color:#f2f2f2;
   color: rgb(29, 29, 29);
   text-align: center;
padding-top:30px;
padding-bottom:30px;}
.bottomspace{margin-bottom: 10%;}
.bottomspaceBlog{margin-bottom: 22%;}
.navbar-item:hover {
    color: rgb(46, 46, 46);
}
 */
